<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
    <a routerLink="/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-home"></i>&nbsp;{{ 'Home' | translate }}
    </a>
    <a routerLink="/books" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-book"></i>&nbsp;{{ 'Books' | translate }}
    </a>
    <!--<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-user"></i>&nbsp;{{ 'Charts' | translate }}-->
    <!--</a>-->
    <!--<a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-money"></i>&nbsp;{{ 'Best Sellers' | translate }}-->
    <!--</a>-->
    <!--<a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}-->
    <!--</a>-->
    <!--<a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}-->
    <!--</a>-->
    <!--<a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}-->
    <!--</a>-->
    <!--<a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}-->
    <!--</a>-->
    <!--<div class="nested-menu">-->
      <!--<a class="list-group-item" (click)="addExpandClass('pages')">-->
        <!--<span><i class="fa fa-plus"></i>&nbsp; {{ 'Categories' | translate }}</span>-->
      <!--</a>-->
      <!--<li class="nested" [class.expand]="showMenu === 'pages'">-->
        <!--<ul class="submenu">-->
          <!--<li>-->
            <!--<a href="javascript:void(0)"><span>{{ 'Name' | translate }}</span></a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="javascript:void(0)"><span>{{ 'Author' | translate }}</span></a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="javascript:void(0)"><span>{{ 'Genre' | translate }}</span></a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="javascript:void(0)"><span>{{ 'ISBN' | translate }}</span></a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</div>-->
    <!--<a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
      <!--<i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}-->
    <!--</a>-->
    <!--<a class="list-group-item more-themes" href="http://www.strapui.com/" >-->
      <!--{{ 'More Theme' | translate }}-->
    <!--</a>-->
  </ul>
</nav>
