<div class="Container">

  <form [formGroup] = "purchaseForm" >

    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-1 col-md-offset-2">



        <div class="form-group">
          <!-- Address 1 -->
          <label for="line1">Address 1</label>
            <input type="text" id="line1" formControlName="line1"  class="form-control">
          <span *ngIf="!purchaseForm.get('line1').valid && purchaseForm.get('line1').touched">
         Please provide your Address 1
        </span>

        </div>


        <div class="form-group">
          <!-- Address 2 -->
          <label  for="line2">Address 2</label>
          <div class="controls">
            <input type="text" id="line2" formControlName="line2"  class="form-control">
          </div>
        </div>


        <div class="form-group">
          <!-- City -->
          <label for="city">City</label>
            <input type="text" id="city" formControlName="city"  class="form-control">
          <span *ngIf="!purchaseForm.get('city').valid && purchaseForm.get('city').touched">
        Please provide your City
        </span>
        </div>

        <div class="form-group"  >
          <!-- state-->
          <label >State</label>
          <select formControlName="state"  class="form-control">
            <option *ngFor="let state of states">{{state}}</option>
          </select>
          <span *ngIf="!purchaseForm.get('state').valid && purchaseForm.get('state').touched">
        Please provide your State
        </span>
        </div>

        <div class="form-group">
          <!-- zip code-->
          <label for="zip">Zip Code</label>
            <input type="text" id="zip" formControlName="zip"  class="form-control">
          <span *ngIf="!purchaseForm.get('zip').valid && purchaseForm.get('zip').touched">
        Please provide your Zip Code
        </span>
        </div>

        <div class="form-group">
          <!-- Credit Card Number -->
          <label  for="CardNumber">Credit Card Number</label>
            <input type="text" id="CardNumber" formControlName="cardNumber"  class="form-control">
          <span *ngIf="!purchaseForm.get('cardNumber').valid && purchaseForm.get('cardNumber').touched">
      Please provide your Credit Card Number
        </span>
        </div>

      <div class="form-group">
        <!-- CVV-->
        <label  for="cvv">CVV</label>
          <input type="text" id="cvv" formControlName="cardcvv"  class="form-control">

        <span *ngIf="!purchaseForm.get('cardcvv').valid && purchaseForm.get('cardcvv').touched">
          CVV is mandatory
        </span>
      </div>

      <div class="form-group">
        <!-- Expiry -->
        <label  for="expire">Expiry Date</label>
          <input type="date" id="expire" formControlName="cardDate"  class="form-control">
        <span *ngIf="!purchaseForm.get('cardDate').valid && purchaseForm.get('cardDate').touched">
      Please enter expiry date
        </span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="SendForm()" [disabled]="!purchaseForm.valid">Purchase</button>
      </div>
    </div>
  </form>
      </div>

