<div class="login-page" [@routerTransition]>
  <div class="row">
    <div class="col-md-4 push-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>SWENG 500 Online Bookstore</h1>
      <h1>User Login</h1>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-content">
          <div class="form-group">
            <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched">User Name Required</em>
            <input type="text" (ngModel)="userName" required name="userName" class="form-control input-underline input-lg" id="userName" placeholder="Email">
          </div>
          <div class="form-group">
            <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">Password Required</em>
            <input type="password" (ngModel)="password" required name="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
          </div>
        </div>
        <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>-->
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
          <button type="submit" [disabled]="loginForm.invalid" class="btn rounded-btn">Login</button>
        </span>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/registration']">Register</a>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/home']">Cancel</a>
        <br>
        <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info</div>
      </form>
    </div>
  </div>
</div>
