<div [@routerTransition]>
<app-page-header [heading]="'Books'" [icon]="'fa fa-book'"></app-page-header>
<nav class="navbar navbar-light navbar-expand-md">
  <div class="row">
    <form [formGroup]="searchForm">
      <div class="form-group">
          <label for="search"> Search for your favorite book by:</label>
        <br>
          <input formControlName="param" type="text" class="input-group-lg" name="search" (keydown.enter)="getBook()" id="search"
                 placeholder="Search by {{searchType}}">
        </div>
        <ul class="nav navbar-nav">
        </ul>
    </form>
  </div>
</nav>
<div *ngFor="let book of books">
  <br>
  <div class="container">
    <div class="row product">
      <div class="col-md-offset-12"><img class="img-thumbnail" style="float:right" [src]="book.image"></div>
      <div class="col-md-10 col-md-7-offset-*">
        <h2>{{book.title}}</h2>
        <h3>{{book.currency}} ${{book.price}}</h3>
        <button class="btn btn-primary" type="button" (click)="buyBook(book)">Buy</button>
      </div>
    </div>
    <div>
    </div>
  </div>
  <script src="../../assets/js/jquery.min.js"></script>
  <!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
  <br>
</div>
</div>
