<div [@routerTransition]>
    <h2 class="text-muted">Trending: <small>Books Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
          <div class="col-xl-3 col-lg-6" *ngFor="let book of books">
            <app-stat [bgClass]="'card-primary'" [img]="book.img" [title]="book.title" [price]="book.price" [author]="book.author"></app-stat>
          </div>
    </div>
</div>
