<div class="Container">

  <form [formGroup] = "adrForm" >

  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<div id="legend2">
  <legend class="">Address
  </legend>

  <div class="control-group">
    <!-- Address 1 -->
    <label class="control-label" for="line1">Address 1</label>
    <div class="controls">
      <input type="text" id="line1" formControlName="line1">
      <p class="help-block">Please provide your Address 1</p>
    </div>
  </div>


  <div class="control-group">
    <!-- Address 2 -->
    <label class="control-label" for="line2">Address 2</label>
    <div class="controls">
      <input type="text" id="line2" formControlName="line2">
      <p class="help-block">Please provide your Address 2</p>
    </div>
  </div>


  <div class="control-group">
    <!-- City -->
    <label class="control-label" for="city">City</label>
    <div class="controls">
      <input type="text" id="city" formControlName="city">
      <p class="help-block">Please provide your City</p>
    </div>
  </div>

  <div class="control-group"  >
    <!-- state-->
    <label class="control-label">State</label>
    <select formControlName="state">
      <option *ngFor="let state of states">{{state}}</option>
    </select>

  </div>

  <div class="control-group">
    <!-- zip code-->
    <label class="control-label" for="zip">Zip Code</label>
    <div class="controls">
      <input type="text" id="zip" formControlName="zip">
      <p class="help-block">Please provide your Zip Code</p>
    </div>
  </div>
</div>
  </div>
  </form>
  </div>

