<div class="Container">


  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup] = "payForm" >
<div id="legend1">
  <legend class="">Payment Information
  </legend>
  <div class="control-group">
    <!-- Credit Card Number -->
    <label class="control-label" for="CardNumber">Credit Card Number</label>
    <div class="controls">
      <input type="text" id="CardNumber" formControlName="cardNumber">
      <p class="help-block">Please provide your Credit Card Number</p>
    </div>
  </div>
</div>

<div class="control-group">
  <!-- CVV-->
  <label class="control-label" for="cvv">CVV</label>
  <div class="controls">
    <input type="text" id="cvv" formControlName="cardcvv">
    <p class="help-block"></p>
  </div>
</div>

<div class="control-group">
  <!-- Expiry -->
  <label class="control-label" for="expire">Expiry Date</label>
  <div class="controls">
    <input type="text" id="expire" formControlName="cardDate">
    <p class="help-block"></p>
  </div>
</div>
    </form>
  </div>
</div>
