<div class="Container">

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="regForm">
     <!--<div class="form-group">-->
        <!-- Username -->
      <div class="form-group">
        <label  for="username">Username</label>

        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
        <span *ngIf="!regForm.get('username').valid && regForm.get('username').touched">
          Username is Mandatory
        </span>
        <!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
      <!--</div>-->
      </div>

      <!--<div class="form-group">-->
        <!-- E-mail -->
        <p></p>
      <div class="form-group">
        <label for="email" >E-mail</label>

        <input
          type="text"
          id="email"
          class="form-control" formControlName="email">
        <span *ngIf="!regForm.get('email').valid && regForm.get('email').touched" class="help-block">
          Please provide your E-mail
        </span>
      </div>

  <!--</div>-->
      <div class="form-group">
        <!-- Password-->
        <label class="control-label" for="password">Password</label>

        <input type="password" id="password" formControlName="password" class="form-control">
        <span *ngIf="!regForm.get('password').valid && regForm.get('password').touched" class="help-block">
          Password is Mandatory
        </span>
      </div>
      <div class="form-group">
        <!-- Password -->
        <label class="control-label" for="confirmpass">Password (Confirm)</label>
        <input type="password" id="confirmpass" formControlName="confirmpass" class="form-control">
        <span *ngIf="!regForm.get('confirmpass').valid && regForm.get('confirmpass').touched" class="help-block">
          Passwods does not match
        </span>
      </div>
      <!--<div style='color:#ff7355' *ngIf="regForm.get(['password']).value !==-->
      <!--regForm.get(['confirmpass]).value-->
      <!--&& regForm.get([confirmpass']).value !== null">-->
      <!--Password does not match-->
      <!--</div>-->
      <!-- Button -->
      <div class="form-group">
        <button class="btn btn-primary" (click)="SendUserData()" [disabled]="!regForm.valid">Register</button>
      </div>
    </form>
  </div>
</div>
</div>

