<div class="card card-inverse {{bgClass}}">
  <div class="card-header">
    <div class="row">
      <div class="col col-xs-3">
        <img src="{{img}}" width="150px" class="user-avatar"/>
      </div>
      <div class="col col-xs-9 text-left">
        <div class="d-block huge">Title: {{title}}</div>
        <div class="d-block">Price: ${{price}}</div>
        <div class="d-block">Author: {{author}}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <span class="float-left">Purchase Book</span>
    <a href="javascript:void(0)" class="float-right card-inverse">
      <span ><i class="fa fa-arrow-circle-right"></i></span>
    </a>
  </div>
  <div class="card-footer">
    <span class="float-left">View Details</span>
    <a href="javascript:void(0)" class="float-right card-inverse">
      <span ><i class="fa fa-arrow-circle-right"></i></span>
    </a>
  </div>
</div>
