<div class="login-page" [@routerTransition]>
  <div class="row">
    <div class="col-md-4 push-md-4">
      <img class="user-avatar" src="assets/images/logo.png" width="150px" />
      <h1>SWENG 500 Online Bookstore</h1>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
          </div>

          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
          </div>
        </div>
        <a class="btn rounded-btn" [routerLink]="['/home']"> Register </a>&nbsp;
        <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
      </form>
    </div>
  </div>
</div>
