<div class="login-page" [@routerTransition]>
  <div class="row">
    <div class="col-md-4 push-md-4">
      <img class="user-avatar" src="assets/images/logo.png" width="150px" />
      <h1>SWENG 500 Online Bookstore</h1>
      <form [formGroup]="regForm" role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" id="username" formControlName="username" class="form-control input-underline input-lg" placeholder="UserName">
          </div>
          <span *ngIf="!regForm.get('username').valid && regForm.get('username').touched">
          Username is Mandatory
          </span>
          <div class="form-group">
            <input type="text" id="email" class="form-control input-underline input-lg" formControlName="email" placeholder="Emal">
          </div>
          <span *ngIf="!regForm.get('email').valid && regForm.get('email').touched" class="help-block">
          Please provide your E-mail
          </span>
          <div class="form-group">
            <input type="password" id="password" formControlName="password" class="form-control input-underline input-lg" placeholder="Password">
          </div>
          <span *ngIf="!regForm.get('password').valid && regForm.get('password').touched" class="help-block">
          Password is Mandatory
          </span>
          <div class="form-group">
            <input type="password" id="confirmpass" formControlName="confirmpass" class="form-control input-underline input-lg" placeholder="Confirm Password">
          </div>
          <span *ngIf="!regForm.get('confirmpass').valid && regForm.get('confirmpass').touched" class="help-block">
          Passwods does not match
          </span>
          <br>
          <br>
          <div>
          <button class="btn rounded-btn" (click)="SendUserData()" [disabled]="!regForm.valid" [routerLink]="['/home']">Register</button>
          <button class="btn rounded-btn" (click)="SendUserData()" [routerLink]="['/login']">Login</button>
          <button class="btn rounded-btn" (click)="SendUserData()" [routerLink]="['/home']">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
